---
import {ProductCatalog as ProductCatalogComponent} from '../components/ProductCatalog.tsx'
import Layout from '../layouts/Layout.astro'
import fetchApi from '../lib/strapi'

const products = await fetchApi({ endpoint: "products", wrappedByKey: "data" });
---

<Layout title="Product Catalog">
<div class="container mx-auto my-10">

  <ProductCatalogComponent products={products} />

</div>
</Layout>


