---
import { ProductCatalog as ProductCatalogComponent } from '../components/ProductCatalog.tsx';
import Layout from '../layouts/Layout.astro';
import fetchApi from '../lib/strapi';

interface Product {
  id: number;
  Title: string;
  Image: [{ url: string }];
  Price: number;
}

const products = await fetchApi({ endpoint: "products", wrappedByKey: "data" });
console.log("products: ", products);
---

<Layout title="Product Catalog">
  <div class="container mx-auto my-10">
    <!-- <ProductCatalogComponent products={products} /> -->
  </div>
</Layout>