---
import RegisterForm from "../components/RegisterForm";

// import handleRegister from '../lib/handleRegister';




// const formData = RegisterForm;

// const response = await fetch("http://localhost:1337/api/auth/local/register",{
  
//   method: 'POST',
//     headers: {'Content-Type':'application/json'},
//     body: JSON.stringify(formData)
// })
// console.log(response, "usman");
// const data = RegisterForm;
// const response = await fetch('http://localhost:1337/api/auth/local/register', {
//     method: 'POST',
//     headers: {
//       'Content-Type': 'application/json',
//     },
//     body: JSON.stringify(data), // Ensure 'data' is correctly structured
//   });

//   if (!response.ok) {
//     const errorBody = await response.text(); // Get the error response body
//     console.error('Error response:', errorBody); // Log the error for debugging
//     throw new Error(`HTTP error! status: ${response.status} - ${response.statusText}`);
//   }
---


<div class="flex h-screen">
  <div class="w-1/2 h-screen bg-[url('/images/image-2.svg')] bg-cover bg-center">
  </div>
  <div class="w-1/2 flex justify-center items-center">
    
    <RegisterForm client:load />
     
   
  </div>
</div>
