---
import LoginForm from "../components/LoginForm.tsx";
---

<div class="flex h-screen">
  <div class="w-1/2 h-screen bg-[url('/images/image-2.svg')] bg-cover bg-center">
  </div>
  <div class="w-1/2 flex justify-center items-center">
    <LoginForm />
  </div>
</div>
